html {
    height: 100%;
}

body {
    height: 100%;
}

.alert {
    padding: 8px;
    background-color: #3a63c4;
    color: white;
    margin-bottom: 15px;
}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.closebtn:hover {
    color: black;
}

.alerts-box {
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 30%;
    padding: 15px;
}